{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- тут це технічна сторінка де вже потрібно
мати аккаунт і токен - підключаємо в route index.js--}}

<main>
    Home page
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}